/* Universal Styles */
body {
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;    
}

h1 {
  font-size: 1.5rem;
  font-family: "permanent marker";
}

h2 {
  font-size: 1.5rem;
  font-family: "permanent marker";
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 2rem;
}

p, figcaption {
    font-family: Itim, Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    
}

/* Header */

header {
    position: sticky;
    top: 0;
    background-color: #FFADAD;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

header logo {
  height: 100%;
}

header li {
    display: inline;
    font-size: 1.2rem;
    
}

header a {
    text-decoration: none;
    color: black;
    font-family: Itim, Arial, Helvetica, sans-serif;
    padding: 0.6rem;
}

a.mission-link:hover {
    background-color:#FDFFB6 ;
}

a.products-link:hover {
    background-color: #CAFFBF;
}

a.team-link:hover {
    background-color: #9BF6FF;
}


/* Mission */

#mission {
  background-color: #FDFFB6;
}

#mission h2 {
    padding-bottom: 1rem;
}
.mission-statement {
    padding: 3rem;
}


/* Products */
#products {
    background-color: #CAFFBF;
}

#products h2{
    padding-top: 1rem;
}

#products img {
    height: 12rem;
    width: 15rem;
    object-fit: cover;
    
    
}

figure {
    background-color: white;
    margin: 1em;
}

figcaption {
    padding: 0.5rem;
}


/* Team */

#team {
    background-color: #9BF6FF;
    padding-bottom: 1rem;
}

#team h2 {
    padding-top: 1rem;
}

.team-cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.cece, .didi {
    width: 40%;
    background-color: white;
    max-width: 500px;
    min-width: 415px;
    text-align: left;
    margin: 1rem;
   
}

.photo img {
    width: 15rem;
    object-fit: cover;
    vertical-align: middle;
    
}

.blurb {
    width: 40%;
    vertical-align: top;
    padding: 1rem;
}

.photo, .blurb {
    display:inline-block;
}



@media only screen and (max-width: 893px) {
    .cece {
        display: flex;
        flex-direction: row-reverse;
    }

   
}

/* To center nav and logo */
@media only screen and (max-width: 501px) {
  .logo, nav {
    margin: 0 auto;
  }

  .logo {
    padding-bottom: 1rem;
  }
}

@media only screen and (max-width: 415px) {
    .photo, .blurb {
        display: block;
        text-align: center;
        margin: 0 auto;
    }

    .blurb {
        width: 300px;
    }

    .photo {
        padding-top: 2rem;
    }

    .cece, .didi {
        display: block;
        min-width: 300px;
        
    }
}






/* Footer */

footer {
    background-color: #BDB2FF;
}

.contacts {
    padding: 1rem;
}